doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
     h2 forgot password
     form.form(action='/changePassword',method='post')
      .form-group
        .input-group
          | Key :
          input.form-control(type='text', name='Key',id='Key')
          br
          | new_password  :
          input.form-control(type='password', name='new_password',id='password')
          br
          | confirm_password  :
          input.form-control(type='password', name='confirm_password',id='password')
          br
          input.btn.btn-lg.btn-primary.btn-block(type='submit',value='submit')
          br
