doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
   body
       nav.navbar.navbar-inverse
         div.container-fluid
          div.navbar-header
             a.navbar-brand USERS
       table.table.table-bordered.table-responsive
         thead
           tr
           th username
           th Email
         tbody
           for member in members
            tr
            td= member['username']
            td= member['email']




