doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
     .container
       .row
         .col-md-3
           h2.text-primary.bg-warning regitser user
           form.form(action='/addUserData', method='post')
               .form-group
                   .input-group
                     | user_name :
                     input.form-control(type='text', name='username',id='username')
                     br
                     | pass :
                     input.form-control(type='password', name='pass',id='pass')
                     br
                     | email :
                     input.form-control(type='email', name='mail',id='mail')
                     br
                     input.btn.btn-lg.btn-primary.btn-block(type='submit',value='sign up')
                     br
         .col-md-3
          h2.text-success.bg-info User Login
          form.form(action='/userValidation',method='post')
              .form-group
                  .input-group
                    | email :
                    input.form-control(type='email', name='email',id='email')
                    br
                    | pass :
                    input.form-control(type='password', name='password',id='password')
                    br
                    input.btn.btn-lg.btn-primary.btn-block(type='submit',value='log in')
                    br
         .col-md-3
          h2.text-primary.bg-info Display Users
          form.form(action='/showusers',method='post')
              .form-group
                  .input-group
                    input.btn.btn-lg.btn-primary.btn-block(type='submit',value='SHOW')
         .col-md-3
          h2.text-success.bg-danger change password
          form.form(action='/change_passwrd',method='post')
              .form-group
                  .input-group
                    | email :
                    input.form-control(type='email', name='email',id='email')
                    br
                    | old_password  :
                    input.form-control(type='password', name='password',id='password')
                    br
                    | new_password  :
                    input.form-control(type='password', name='new_password',id='password')
                    br
                    | confirm_password  :
                    input.form-control(type='password', name='confirm_password',id='password')
                    br
                    input.btn.btn-lg.btn-primary.btn-block(type='submit',value='DONE')
                    br
         .col-md-3
           h2.text-danger.bg-danger recover
           form.form(action='/recover',method='post')
               .form-group
                   .input-group
                     | email :
                     input.form-control(type='email', name='email',id='email')
                     br
                     input.btn.btn-lg.btn-primary.btn-block(type='submit',value='send')
                     br
